<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<header>
    <div class="ui massive menu">
        <div class="item">
            <i class="video camera icon"></i>
            Movies App
        </div>
        <a class="item" th:href="@{/}">
            Home
        </a>
        <a class="item" th:href="@{/movies}" sec:authorize="hasRole('USER')">
            Movies
        </a>
        <div class="right menu">
            <a class="ui item" th:href="@{/login}" sec:authorize="!isAuthenticated()">
                Login
            </a>
            <a class="ui item" th:href="@{/register}" sec:authorize="!isAuthenticated()">
                Register
            </a>
            <a class="ui item" sec:authentication="name" sec:authorize="isAuthenticated()">
            </a>
            <a class="ui item" th:href="@{/logout}" sec:authorize="isAuthenticated()">
                Logout
            </a>
        </div>
    </div>
    <div class="ui hidden divider"></div>
</header>

</body>
</html>